Repository Avdheshbhardwajz/SndaramPortal: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/backend.yaml, pipelines/frontend.yaml, pipelines/nginx.yaml

Path conditions:
  pipelines/backend.yaml: any of: backend, pipelines/backend.yaml
  pipelines/frontend.yaml: any of: frontend, pipelines/frontend.yaml
  pipelines/nginx.yaml: any of: nginx, pipelines/nginx.yaml

fix env
  pipelines/backend.yaml
  pipelines/frontend.yaml
Due: pipelines/backend.yaml, pipelines/frontend.yaml

Add variable
  pipelines/backend.yaml
Due: pipelines/backend.yaml

install and use
  pipelines/backend.yaml
Due: pipelines/backend.yaml

install without
  pipelines/backend.yaml
Due: pipelines/backend.yaml

Add pm2
  pipelines/backend.yaml
Due: pipelines/backend.yaml

change dir
  pipelines/backend.yaml
Due: pipelines/backend.yaml

changed url
  frontend/src/components/ColumnConfigurator.tsx
  frontend/src/components/DropdownManager.tsx
  frontend/src/components/Editorlogin.tsx
  frontend/src/components/grid/GridTable.tsx
  frontend/src/hooks/useGridData.ts
  frontend/src/hooks/usePendingChanges.ts
  frontend/src/hooks/useTables.ts
  frontend/src/pages/Admin.tsx
  frontend/src/pages/DashboardLayout.tsx
  frontend/src/services/api.ts
  frontend/src/services/userApi.ts
Due: pipelines/frontend.yaml

use node
  backend/pm2.config.js
  pipelines/backend.yaml
Due: pipelines/backend.yaml

HOST
  pipelines/backend.yaml
Due: pipelines/backend.yaml

fixed endpoints
  backend/.env
  frontend/.env
  frontend/src/components/ColumnConfigurator.tsx
  frontend/src/components/DropdownManager.tsx
  frontend/src/components/Editorlogin.tsx
  frontend/src/components/grid/GridTable.tsx
  frontend/src/hooks/useGridData.ts
  frontend/src/hooks/usePendingChanges.ts
  frontend/src/hooks/useTables.ts
  frontend/src/pages/Admin.tsx
  frontend/src/pages/DashboardLayout.tsx
  frontend/src/services/api.ts
  frontend/src/services/userApi.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

fixed error
  backend/.env
Due: pipelines/backend.yaml

fixed error
  frontend/.env
Due: pipelines/frontend.yaml

changed Api Links
  frontend/src/components/ColumnConfigurator.tsx
  frontend/src/components/DropdownManager.tsx
  frontend/src/components/Editorlogin.tsx
  frontend/src/components/grid/GridTable.tsx
  frontend/src/hooks/useGridData.ts
  frontend/src/hooks/usePendingChanges.ts
  frontend/src/hooks/useTables.ts
  frontend/src/pages/Admin.tsx
  frontend/src/pages/DashboardLayout.tsx
  frontend/src/services/api.ts
  frontend/src/services/userApi.ts
Due: pipelines/frontend.yaml

will start working on auth from here
  frontend/src/components/Editorsignup.tsx
Due: pipelines/frontend.yaml

Added UI for otp auth
  frontend/src/components/Editorlogin.tsx
Due: pipelines/frontend.yaml

added disable option and removed delete option for the user
  frontend/src/pages/Admin.tsx
  frontend/src/services/userApi.ts
  frontend/src/types/user.ts
Due: pipelines/frontend.yaml

fixed the left api link in editorSignup component
  frontend/src/components/Editorsignup.tsx
Due: pipelines/frontend.yaml

added UI for group configuration
  backend/src/routes/routes.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/GroupConfiguration.tsx
  frontend/src/pages/Admin.tsx
Due: pipelines/backend.yaml, pipelines/frontend.yaml

added backend for group configuration add and get
  backend/src/controllers/getGroupList/getGroupList.js
  backend/src/controllers/tablesGroup/tableGroup.js
  backend/src/routes/routes.js
Due: pipelines/backend.yaml

added complete backend for groupin and created basic ui and integration
  backend/src/controllers/removeGroup/removeGroup.js
  backend/src/controllers/removeTable/removeTable.js
  backend/src/routes/routes.js
  frontend/src/components/GroupConfiguration.tsx
  frontend/src/pages/Admin.tsx
  frontend/src/services/groupApi.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

complete grouping feature in admin
  backend/src/routes/routes.js
  frontend/src/components/GroupConfiguration.tsx
  frontend/src/services/groupApi.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

completed all the admin group configuration part
  backend/app.js
Due: pipelines/backend.yaml

added backend for checker audit
  backend/src/controllers/getAllCheckerRequest/getAllCheckerRequest.js
  backend/src/routes/routes.js
Due: pipelines/backend.yaml

90% completed integration of grouping for tables
  frontend/src/pages/Checker.tsx
Due: pipelines/frontend.yaml

added chcker task tracker
  frontend/src/components/CheckerLog.tsx
  frontend/src/pages/Checker.tsx
Due: pipelines/frontend.yaml

Added sidebar and integrated log
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/TableContent.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/hooks/use-mobile.tsx
  frontend/src/pages/Checker.tsx
  frontend/tailwind.config.js
Due: pipelines/frontend.yaml

completed approve all and reject all
  backend/src/controllers/allReject/allReject.js
  backend/src/controllers/approveAll/allApprove.js
  backend/src/routes/routes.js
  frontend/src/components/CheckerLog.tsx
  frontend/src/pages/Checker.tsx
Due: pipelines/backend.yaml, pipelines/frontend.yaml

fixed reject all feature and working fine
  backend/src/controllers/allReject/allReject.js
  frontend/src/pages/Checker.tsx
Due: pipelines/backend.yaml, pipelines/frontend.yaml

completed reject all
  frontend/src/components/CheckerLog.tsx
Due: pipelines/frontend.yaml

Added basic ui to add new row in table
  frontend/src/components/grid/AddDialog.tsx
  frontend/src/components/grid/GridTable.tsx
Due: pipelines/frontend.yaml

added add row fetch request for admin and approve by admin endpoint
  backend/src/controllers/acceptRow/acceptRow.js
  backend/src/controllers/addRow/addRow.js
  backend/src/controllers/fetchRowRequest/fetchRowRequest.js
  backend/src/routes/routes.js
Due: pipelines/backend.yaml

integrated /addrow endpoint
  frontend/src/components/grid/AddDialog.tsx
Due: pipelines/frontend.yaml

fixed schema issue for sidebar tables
  backend/src/controllers/tableData/tableData.js
Due: pipelines/backend.yaml

fixed custom page size
  frontend/src/hooks/useGridData.ts
Due: pipelines/frontend.yaml

fixed passing of the row_id while editing from the maker side
  backend/src/controllers/fetchColumn/fetchColumn.js
  backend/src/controllers/fetchRowRequest/fetchRowRequest.js
  backend/src/controllers/requestData/requestData.js
  frontend/src/components/RowRequestManager.tsx
  frontend/src/components/grid/GridTable.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/pages/Admin.tsx
  frontend/src/types/requestData.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

implimented final logic to update row in db when the checker approves
  backend/src/controllers/addRow/addRow.js
  backend/src/controllers/approve/approve.js
  frontend/src/components/grid/AddDialog.tsx
  frontend/src/components/grid/GridTable.tsx
Due: pipelines/backend.yaml, pipelines/frontend.yaml

implimented adding a new row with uuid
  backend/src/controllers/approveAll/allApprove.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/grid/AddDialog.tsx
  frontend/src/pages/Checker.tsx
Due: pipelines/backend.yaml, pipelines/frontend.yaml
