Repository Avdheshbhardwajz/SndaramPortal: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/backend.yaml, pipelines/frontend.yaml, pipelines/nginx.yaml

Path conditions:
  pipelines/backend.yaml: any of: backend, pipelines/backend.yaml
  pipelines/frontend.yaml: any of: frontend, pipelines/frontend.yaml
  pipelines/nginx.yaml: any of: nginx, pipelines/nginx.yaml

integrated edit form and send data through that
  backend/src/controllers/requestData/requestData.js
  frontend/src/components/grid/EditDialog.tsx
  frontend/src/components/grid/GridTable.tsx
  frontend/src/services/api.ts
  frontend/src/types/grid.ts
  frontend/src/types/requestData.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

integrated cell highlight feature
  backend/src/controllers/cellsHighlight/cellsHighlight.js
  backend/src/controllers/verifyOTP/verifyOTP.js
  backend/src/routes/routes.js
  frontend/src/components/grid/GridTable.tsx
  frontend/src/services/userApi.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

fixed auth
  backend/src/controllers/verifyOTP/verifyOTP.js
  frontend/src/App.tsx
  frontend/src/hooks/useOTP.ts
  frontend/src/pages/Auth.tsx
Due: pipelines/backend.yaml, pipelines/frontend.yaml

fixed notification
  frontend/src/components/dashboard/NotificationDrawer.tsx
  frontend/src/components/dashboard/NotificationIcon.tsx
  frontend/src/pages/DashboardLayout.tsx
Due: pipelines/frontend.yaml

completed add row feature as well
  backend/src/controllers/addRow/addRow.js
  backend/src/routes/routes.js
  frontend/src/components/grid/AddDialog.tsx
Due: pipelines/backend.yaml, pipelines/frontend.yaml

enhaced auth page
  frontend/src/App.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/pages/Auth.tsx
Due: pipelines/frontend.yaml

enhanced the maker page sidebar and header
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MainContent.tsx
  frontend/src/components/dashboard/Header.tsx
  frontend/src/components/dashboard/Sidebar.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/pages/DashboardLayout.tsx
Due: pipelines/frontend.yaml

fixed toast
  frontend/src/components/GroupConfiguration.tsx
  frontend/src/components/admin/UserManagement.tsx
  frontend/src/components/grid/AddDialog.tsx
  frontend/src/components/grid/GridTable.tsx
  frontend/src/pages/Auth.tsx
Due: pipelines/frontend.yaml

fixed checker
  backend/src/controllers/allReject/allReject.js
  backend/src/controllers/approve/approve.js
  backend/src/controllers/approveAll/allApprove.js
  backend/src/controllers/reject/reject.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CheckerLog.tsx
  frontend/src/components/checker/CheckerNotificationDrawer.tsx
  frontend/src/components/checker/CheckerNotificationIcon.tsx
  frontend/src/components/ui/TableContent.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/pages/Checker.tsx
  frontend/src/services/api.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

completed checker
  backend/src/controllers/getAllCheckerRequest/getAllCheckerRequest.js
  frontend/src/components/CheckerLog.tsx
  frontend/src/pages/Checker.tsx
  frontend/src/services/api.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

integrated api
  frontend/src/components/RowRequestManager.tsx
  frontend/src/components/admin/AdminNotificationDrawer.tsx
  frontend/src/components/admin/AdminNotificationIcon.tsx
  frontend/src/components/admin/Configuration.tsx
  frontend/src/components/admin/Layout.tsx
  frontend/src/pages/Admin.tsx
  frontend/src/services/groupApi.ts
  frontend/src/services/userApi.ts
Due: pipelines/frontend.yaml

fixed disbaling user
  backend/src/controllers/isActive/isActive.js
  frontend/src/components/admin/UserManagement.tsx
  frontend/src/services/userApi.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

fixed configuration
  backend/src/controllers/rejectAllRow/rejectAllRow.js
  backend/src/controllers/rejectRow/rejectRow.js
  frontend/src/components/ColumnConfigurator.tsx
  frontend/src/components/DropdownManager.tsx
  frontend/src/utils/authHeaders.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

fixed approve of rows
  backend/src/controllers/acceptRow/acceptRow.js
  backend/src/controllers/approveAllRow/acceptAllRow.js
  frontend/src/components/RowRequestManager.tsx
Due: pipelines/backend.yaml, pipelines/frontend.yaml

fixed smtp
  backend/src/controllers/sendOTP/sendOTP.js
Due: pipelines/backend.yaml

fixed
  backend/app.js
  backend/src/configuration/database/database.js
  backend/src/controllers/changeTrackerData/fetchChangeTrackerData.js
  backend/src/controllers/table/table.js
  backend/src/controllers/users/users.js
  frontend/src/services/userApi.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

fixed sidebar tables schema
  backend/src/controllers/signup/signup.js
  backend/src/controllers/table/table.js
Due: pipelines/backend.yaml

starting working on maker page
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/OTPVerification.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/CheckerPage.tsx
  frontend/src/pages/OTPVerificationPage.tsx
  frontend/src/types/auth.tsx
Due: pipelines/frontend.yaml

added basic
  frontend/src/App.tsx
  frontend/src/assets/icons/notification-icon.svg
  frontend/src/assets/images/Audit.svg
  frontend/src/components/DashboardCard.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/components/TableCard.tsx
  frontend/src/components/icons/index.tsx
  frontend/src/pages/DashBoardPage.tsx
  frontend/src/pages/TablesPage.tsx
  frontend/src/services/tableService.ts
Due: pipelines/frontend.yaml

added mroe features
  backend/src/controllers/fetchColumnStatus/fetchColumnStatus.js
  backend/src/routes/routes.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DynamicTable.tsx
  frontend/src/components/EditRowDrawer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/PageSizeSelector.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/components/TableCard.tsx
  frontend/src/components/TableFilter.tsx
  frontend/src/components/table/TableBody.tsx
  frontend/src/components/table/TableColumnHeader.tsx
  frontend/src/components/table/TableHeader.tsx
  frontend/src/components/table/TableRow.tsx
  frontend/src/components/ui/Avatar.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/components/ui/Drawer.tsx
  frontend/src/components/ui/IconButton.tsx
  frontend/src/constants/colors.ts
  frontend/src/constants/sizes.ts
  frontend/src/hooks/useColumnPermissions.ts
  frontend/src/hooks/usePagination.ts
  frontend/src/hooks/useTableData.ts
  frontend/src/pages/TablesPage.tsx
  frontend/src/services/sortingService.ts
  frontend/src/services/tableDataService.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

added
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ChangesDialog.tsx
  frontend/src/components/DynamicTable.tsx
  frontend/src/components/EditRowDrawer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/NotificationDrawer.tsx
  frontend/src/components/table/TableBody.tsx
  frontend/src/components/table/TableColumnHeader.tsx
  frontend/src/components/table/TableHeader.tsx
  frontend/src/components/ui/Dialog.tsx
  frontend/src/config/constants.ts
  frontend/src/hooks/useColumnPermissions.ts
  frontend/src/hooks/useTableData.ts
  frontend/src/services/notificationService.ts
  frontend/src/services/tableDataService.ts
Due: pipelines/frontend.yaml

added all feature
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/DynamicTable.tsx
  frontend/src/components/EditRowDrawer.tsx
  frontend/src/config/constants.ts
  frontend/src/hooks/usePagination.ts
  frontend/src/hooks/useTableData.ts
  frontend/src/services/tableDataService.ts
Due: pipelines/frontend.yaml

added dropdown feature
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Configuration.tsx
  frontend/src/components/configuration/ColumnConfiguration.tsx
  frontend/src/components/configuration/ConfigurationTabs.tsx
  frontend/src/components/configuration/DropdownManagement.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/hooks/useAlert.ts
  frontend/src/services/columnConfigService.ts
  frontend/src/services/dropdownConfigService.ts
  frontend/src/utils/authHeaders.ts
Due: pipelines/frontend.yaml

fixed dropdown component
  frontend/src/components/configuration/DropdownManagement.tsx
Due: pipelines/frontend.yaml

created basic checker ui
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CheckerLog.tsx
  frontend/src/components/CheckerNotificationDrawer.tsx
  frontend/src/components/CheckerNotificationIcon.tsx
  frontend/src/components/Configuration.tsx
  frontend/src/components/DynamicTable.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/components/RowRequestManager.tsx
  frontend/src/components/TableFilter.tsx
  frontend/src/components/configuration/GroupConfiguration.tsx
  frontend/src/components/dialogs/DataDialog.tsx
  frontend/src/components/dialogs/RejectDialog.tsx
  frontend/src/components/ui/TableContent.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/CheckerPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/groupApi.ts
  frontend/src/services/notificationService.ts
  frontend/src/services/rowRequestApi.ts
  frontend/src/types/checkerData.ts
  frontend/src/types/requestData.ts
  frontend/src/types/rowRequest.ts
Due: pipelines/frontend.yaml

added checker feature
  frontend/src/features/checker/components/RejectModal.tsx
  frontend/src/features/checker/components/TableContent.tsx
  frontend/src/features/checker/components/table/TableContent.tsx
  frontend/src/features/checker/components/table/TableHeader.tsx
  frontend/src/features/checker/components/table/TableHeaderActions.tsx
  frontend/src/features/checker/components/table/TableRow.tsx
  frontend/src/features/checker/hooks/useChecker.ts
  frontend/src/features/checker/pages/CheckerPage.tsx
  frontend/src/features/checker/types/index.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
Due: pipelines/frontend.yaml

added table view perfectly
  backend/src/routes/routes.js
  frontend/src/App.tsx
  frontend/src/components/CheckerLog.tsx
  frontend/src/components/DynamicTable.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/components/Logo.tsx
  frontend/src/components/NotificationDrawer.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/components/TableCard.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/config/constants.ts
  frontend/src/features/checker/components/GroupView.tsx
  frontend/src/features/checker/components/TableContent.tsx
  frontend/src/features/checker/pages/CheckerPage.tsx
  frontend/src/hooks/useColumnPermissions.ts
  frontend/src/hooks/useTableData.ts
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/CheckerPage.tsx
  frontend/src/pages/DashBoardPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/TablesPage.tsx
  frontend/src/pages/VerifyOTPPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/tableDataService.ts
  frontend/vite.config.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

added pagiantion
  frontend/src/components/DynamicTable.tsx
  frontend/src/components/Pagination.tsx
  frontend/src/components/TablePagination.tsx
  frontend/src/components/configuration/DropdownManagement.tsx
  frontend/src/hooks/useTableData.ts
  frontend/src/pages/TablesPage.tsx
  frontend/src/services/tableDataService.ts
  frontend/tailwind.config.js
Due: pipelines/frontend.yaml

about to complete maker part
  frontend/src/components/DashboardCard.tsx
  frontend/src/components/DynamicTable.tsx
  frontend/src/components/EditRowDrawer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/NotificationDrawer.tsx
  frontend/src/components/ui/DynamicDropdown.tsx
  frontend/src/config/constants.ts
  frontend/src/pages/DashBoardPage.tsx
  frontend/src/pages/TablesPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/dropdownApi.ts
  frontend/src/services/notificationService.ts
  frontend/src/services/tableDataService.ts
Due: pipelines/frontend.yaml

completed maker part
  frontend/src/components/DynamicTable.tsx
  frontend/src/components/ui/HighlightedCell.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/OTPVerificationPage.tsx
  frontend/src/pages/VerifyOTPPage.tsx
  frontend/src/services/highlightService.ts
Due: pipelines/frontend.yaml

added admin panel
  backend/src/controllers/users/users.js
  frontend/src/components/NotificationDrawer.tsx
  frontend/src/components/UserManagement.tsx
  frontend/src/components/admin/AdminNotifications.tsx
  frontend/src/components/admin/Configuration.tsx
  frontend/src/components/admin/RowRequestManager.tsx
  frontend/src/components/admin/UserManagement.tsx
  frontend/src/components/admin/configurators/ColumnConfigurator.tsx
  frontend/src/components/admin/configurators/DropdownManager.tsx
  frontend/src/components/admin/configurators/GroupConfiguration.tsx
  frontend/src/components/admin/index.ts
  frontend/src/components/configuration/ColumnConfiguration.tsx
  frontend/src/components/configuration/ConfigurationTabs.tsx
  frontend/src/components/configuration/DropdownManagement.tsx
  frontend/src/components/configuration/GroupConfiguration.tsx
  frontend/src/components/configuration/hooks/useConfiguration.ts
  frontend/src/components/user-management/DisableUserDialog.tsx
  frontend/src/components/user-management/UserDialog.tsx
  frontend/src/components/user-management/UserForm.tsx
  frontend/src/components/user-management/UserManagementHeader.tsx
  frontend/src/components/user-management/UserTable.tsx
  frontend/src/components/user-management/hooks/useUserManagement.ts
  frontend/src/pages/AdminPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/notificationService.ts
  frontend/src/services/userApi.ts
  frontend/src/types/user.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

fixed user
  frontend/src/components/admin/UserManagement.tsx
Due: pipelines/frontend.yaml

about to complete checker
  backend/src/controllers/checkerRequest/fetchCheckerRequest.js
  backend/src/controllers/fetchCheckerGroupRequest/fetchCheckerGroupRequest.js
  backend/src/controllers/getAllCheckerRequest/getAllCheckerRequest.js
  backend/src/routes/routes.js
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/NotificationDrawer.tsx
  frontend/src/components/checker/GroupedView.tsx
  frontend/src/components/checker/History.tsx
  frontend/src/components/checker/Overview.tsx
  frontend/src/components/checker/TableRequests.tsx
  frontend/src/components/checker/UngroupedView.tsx
  frontend/src/components/checker/index.ts
  frontend/src/config/constants.ts
  frontend/src/features/checker/components/GroupView.tsx
  frontend/src/features/checker/components/RejectModal.tsx
  frontend/src/features/checker/components/TableContent.tsx
  frontend/src/features/checker/components/table/TableContent.tsx
  frontend/src/features/checker/components/table/TableHeader.tsx
  frontend/src/features/checker/components/table/TableHeaderActions.tsx
  frontend/src/features/checker/components/table/TableRow.tsx
  frontend/src/features/checker/hooks/useChecker.ts
  frontend/src/features/checker/pages/CheckerPage.tsx
  frontend/src/features/checker/types/index.ts
  frontend/src/hooks/use-checker.ts
  frontend/src/pages/CheckerPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/notificationApi.ts
  frontend/src/services/notificationService.ts
  frontend/src/types/api.ts
  frontend/src/types/checkerData.ts
  package-lock.json
  package.json
Due: pipelines/backend.yaml, pipelines/frontend.yaml

completed checker
  frontend/src/components/checker/TableRequests.tsx
Due: pipelines/frontend.yaml

completed
  frontend/src/components/ChangesDialog.tsx
  frontend/src/components/CheckerLog.tsx
  frontend/src/components/CheckerNotificationDrawer.tsx
  frontend/src/components/Configuration.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/admin/Configuration.tsx
  frontend/src/components/checker/TableRequests.tsx
  frontend/src/components/table/TableColumnHeader.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/components/ui/Drawer.tsx
  frontend/src/pages/TablesPage.tsx
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.d.ts
  frontend/vite.config.js
Due: pipelines/frontend.yaml

completed
  frontend/src/components/NotificationDrawer.tsx
Due: pipelines/frontend.yaml

completed backend for table configuration
  backend/src/controllers/tableMetadata/tableMetadata.js
  backend/src/routes/routes.js
  frontend/src/App.tsx
  frontend/src/pages/OTPVerificationPage.tsx
Due: pipelines/backend.yaml, pipelines/frontend.yaml

added frontend for admin side table configuration
  frontend/src/components/admin/Configuration.tsx
  frontend/src/components/admin/configurators/TableConfigurator.tsx
Due: pipelines/frontend.yaml
