Repository Avdheshbhardwajz/SndaramPortal: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/backend.yaml, pipelines/frontend.yaml, pipelines/nginx.yaml

pipelines/backend.yaml:
  pool: agent
  jobs:
  - job: Backend
    variables:
    - group: backend_env
    steps:
    - checkout: self
      clean: true
    - bash: '#!/bin/bash
  
        set -e
  
        mkdir -p /opt/app/{dev,uat/prd}
  
        '
      displayName: Create Directory
    - bash: '#!/bin/bash
  
        set -e
  
  ...

pipelines/frontend.yaml:
  pool: agent
  jobs:
  - job: React
    steps:
    - task: NodeTool@0
      inputs:
        versionSource: spec
        versionSpec: 18.x
      displayName: Install NodeJS
    - bash: '#!/bin/bash
  
        set -e
  
        npm i
  
        '
      displayName: Install Packages
      workingDirectory: frontend
  ...

pipelines/nginx.yaml:
  pool: agent
  jobs:
  - job: nginx
    steps:
    - bash: '#!/bin/bash
  
        set -e
  
        sudo apt-get update -y
  
        sudo apt-get install nginx -y
  
        sudo systemctl enable nginx --now
  
        '
      displayName: Install Nginx
    - checkout: self
      clean: true
    - bash: '#!/bin/bash
  
        set -e
  
  ...

remove row_id from the ui
  frontend/src/components/grid/EditDialog.tsx
  frontend/src/components/grid/GridTable.tsx
Due: pipelines/frontend.yaml

hide the unnecesaary tables from the sidebar
  frontend/src/components/dashboard/Sidebar.tsx
  frontend/src/hooks/useTables.ts
Due: pipelines/frontend.yaml

passing left column value as null and hide timestamps and added createdat timestapms
  frontend/src/components/grid/AddDialog.tsx
Due: pipelines/frontend.yaml

fixed the reasons not showing on the ui
  frontend/src/components/CheckerLog.tsx
Due: pipelines/frontend.yaml

changed the api link
  frontend/src/components/CheckerLog.tsx
  frontend/src/components/ColumnConfigurator.tsx
  frontend/src/components/DropdownManager.tsx
  frontend/src/components/Editorlogin.tsx
  frontend/src/components/Editorsignup.tsx
  frontend/src/components/RowRequestManager.tsx
  frontend/src/components/grid/AddDialog.tsx
  frontend/src/components/grid/GridTable.tsx
  frontend/src/hooks/useGridData.ts
  frontend/src/hooks/usePendingChanges.ts
  frontend/src/hooks/useTables.ts
  frontend/src/pages/Admin.tsx
  frontend/src/pages/Checker.tsx
  frontend/src/pages/DashboardLayout.tsx
  frontend/src/services/api.ts
  frontend/src/services/groupApi.ts
  frontend/src/services/userApi.ts
Due: pipelines/frontend.yaml

starting working on admin page to manage added row in teh table by amker
  frontend/src/services/api.ts
Due: pipelines/frontend.yaml

added backend endpoints
  backend/src/controllers/approveAllRow/acceptAllRow.js
  backend/src/controllers/isActive/isActive.js
  backend/src/controllers/rejectAllRow/rejectAllRow.js
  backend/src/controllers/rejectRow/rejectRow.js
  backend/src/routes/routes.js
Due: pipelines/backend.yaml

completed integration of add new row approval by admin
  frontend/src/components/RowRequestManager.tsx
Due: pipelines/frontend.yaml

fixed the backend logic for the user disable and implimented the same
  backend/src/controllers/isActive/isActive.js
  frontend/src/pages/Admin.tsx
  frontend/src/services/userApi.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

changed api links
  frontend/src/components/CheckerLog.tsx
  frontend/src/components/ColumnConfigurator.tsx
  frontend/src/components/DropdownManager.tsx
  frontend/src/components/Editorlogin.tsx
  frontend/src/components/Editorsignup.tsx
  frontend/src/components/RowRequestManager.tsx
  frontend/src/components/grid/AddDialog.tsx
  frontend/src/components/grid/GridTable.tsx
  frontend/src/hooks/useGridData.ts
  frontend/src/hooks/usePendingChanges.ts
  frontend/src/hooks/useTables.ts
  frontend/src/pages/Admin.tsx
  frontend/src/pages/Checker.tsx
  frontend/src/pages/DashboardLayout.tsx
  frontend/src/services/api.ts
  frontend/src/services/groupApi.ts
  frontend/src/services/userApi.ts
Due: pipelines/frontend.yaml

added /cells-highlight endpoint
  backend/src/controllers/cellsHighlight/cellsHighlight.js
  backend/src/routes/routes.js
  frontend/src/services/userApi.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

added highlight cells backend code
  backend/src/controllers/cellsHighlight/cellsHighlight.js
Due: pipelines/backend.yaml

completed integration of cell highlight
  frontend/src/components/grid/GridTable.tsx
  frontend/src/services/userApi.ts
Due: pipelines/frontend.yaml

completed notification for the maker
  backend/src/controllers/makerNotification/makerNotification.js
  backend/src/routes/routes.js
Due: pipelines/backend.yaml

added checker notification
  backend/src/controllers/checkerNotification/checkerNotification.js
  backend/src/routes/routes.js
Due: pipelines/backend.yaml

added backend for admin notification as well
  backend/src/controllers/adminNotification/adminNotification.js
  backend/src/routes/routes.js
Due: pipelines/backend.yaml

fixed highlight feature and dropdown bug
  frontend/src/components/grid/EditDialog.tsx
  frontend/src/components/grid/GridTable.tsx
Due: pipelines/frontend.yaml

fixed the page number issue
  frontend/src/hooks/useGridData.ts
Due: pipelines/frontend.yaml

fixed cells highlighting feature
  backend/src/controllers/cellsHighlight/cellsHighlight.js
  frontend/src/components/grid/GridTable.tsx
Due: pipelines/backend.yaml, pipelines/frontend.yaml

completed maker notification frontend integration
  frontend/src/components/dashboard/Header.tsx
  frontend/src/components/dashboard/NotificationDrawer.tsx
  frontend/src/components/dashboard/NotificationIcon.tsx
  frontend/src/pages/DashboardLayout.tsx
Due: pipelines/frontend.yaml

integrated checker notification in frontedn
  frontend/src/components/checker/CheckerNotificationDrawer.tsx
  frontend/src/components/checker/CheckerNotificationIcon.tsx
  frontend/src/pages/Checker.tsx
Due: pipelines/frontend.yaml

enhanced teh checker page
  frontend/src/pages/Checker.tsx
Due: pipelines/frontend.yaml

improved history component
  frontend/src/components/CheckerLog.tsx
Due: pipelines/frontend.yaml

fixed teh ui of checker
  frontend/src/pages/Checker.tsx
Due: pipelines/frontend.yaml

added admin notification feature
  frontend/src/components/admin/AdminNotificationDrawer.tsx
  frontend/src/components/admin/AdminNotificationIcon.tsx
  frontend/src/pages/Admin.tsx
Due: pipelines/frontend.yaml

starting working on ui enhacement
  frontend/src/components/admin/DisableUserDialog.tsx
  frontend/src/components/admin/EditUserDialog.tsx
  frontend/src/components/admin/UserForm.tsx
  frontend/src/components/admin/UserTable.tsx
Due: pipelines/frontend.yaml

starting working on ui
  frontend/src/components/admin/DisableUserDialog.tsx
  frontend/src/components/admin/EditUserDialog.tsx
  frontend/src/components/admin/UserForm.tsx
  frontend/src/components/admin/UserTable.tsx
Due: pipelines/frontend.yaml

imoprove admin page ui and also fixed user status
  backend/src/controllers/isActive/isActive.js
  frontend/src/components/GroupConfiguration.tsx
  frontend/src/components/admin/Configuration.tsx
  frontend/src/components/admin/Layout.tsx
  frontend/src/components/admin/RowRequestManager.tsx
  frontend/src/components/admin/Sidebar.tsx
  frontend/src/components/admin/UserManagement.tsx
  frontend/src/pages/Admin.tsx
Due: pipelines/backend.yaml, pipelines/frontend.yaml

added backend endpoint for send and verify otp
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/sendOTP/sendOTP.js
  backend/src/controllers/verifyOTP/verifyOTP.js
  backend/src/routes/routes.js
Due: pipelines/backend.yaml

completed auth related controller and endpoint
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/verifyOTP/verifyOTP.js
Due: pipelines/backend.yaml

fixed user status bug and implimented auth
  frontend/src/components/admin/UserManagement.tsx
  frontend/src/types/user.ts
Due: pipelines/frontend.yaml

fixed the user status and its controller
  backend/src/controllers/users/users.js
  frontend/src/components/admin/UserManagement.tsx
  frontend/src/types/user.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

added
  frontend/src/hooks/useOTPTimer.ts
  frontend/src/services/authService.ts
  frontend/src/services/authStorage.ts
  frontend/src/utils/tokenUtils.ts
Due: pipelines/frontend.yaml

removed
  frontend/src/hooks/useOTPTimer.ts
  frontend/src/services/authService.ts
  frontend/src/services/authStorage.ts
  frontend/src/utils/tokenUtils.ts
Due: pipelines/frontend.yaml

starting working on UI
  backend/src/routes/routes.js
Due: pipelines/backend.yaml

starting working on jwt key for api req
  backend/src/controllers/verifyOTP/verifyOTP.js
  frontend/src/App.tsx
  frontend/src/hooks/useOTP.ts
  frontend/src/pages/Auth.tsx
Due: pipelines/backend.yaml, pipelines/frontend.yaml

added
  backend/src/middleware/auth.js
  backend/src/middleware/rateLimiter.js
Due: pipelines/backend.yaml

fixed backend code and added auth and role check for each endpoints
  backend/src/controllers/addRow/addRow.js
  backend/src/controllers/approve/approve.js
  backend/src/controllers/isActive/isActive.js
  backend/src/controllers/makerNotification/makerNotification.js
  backend/src/controllers/reject/reject.js
  backend/src/controllers/requestData/requestData.js
  backend/src/routes/routes.js
Due: pipelines/backend.yaml

sidebar and table selection is workign
  backend/src/controllers/tableData/tableData.js
  frontend/src/hooks/useGridData.ts
  frontend/src/hooks/useTables.ts
Due: pipelines/backend.yaml, pipelines/frontend.yaml

fixed dropdown and table data in frontend
  frontend/src/components/grid/EditDialog.tsx
  frontend/src/components/grid/GridTable.tsx
  frontend/src/components/ui/edit-field.tsx
Due: pipelines/frontend.yaml

Path conditions:
  pipelines/backend.yaml: any of: backend, pipelines/backend.yaml
  pipelines/frontend.yaml: any of: frontend, pipelines/frontend.yaml
  pipelines/nginx.yaml: any of: nginx, pipelines/nginx.yaml
